<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <main>

        <h1>AHORCADO</h1>

        @foreach(char item in ViewBag.palabraAdivinar){
            <h4>@item</h4>
            }

            <h2 style="clear: both;">
            letras utilizadas:
            @foreach(char item in ViewBag.letrasFalladas){
                @item
            }
            </h2>

        <h2>
            intentos: @ViewBag.intentos
            <br>
            fallos: @ViewBag.fallos
        </h2>

        <form action='@Url.Action("verificar", "Home")' method="post" enctype="multipart/form-data">
            <p> adivinar letra: </p> <input type="text" maxlength="1" name="letraAdivinada">
            <input class="boton" type="submit" value="Arriesgar letra">
        </form>

        <form action='@Url.Action("verificar", "Home")' method="post" enctype="multipart/form-data">
            <p> adivinar palabra: </p> <input type="text" maxlength="@ViewBag.cantidadLetras" name="palabraAdivinada">
            <input class="boton" type="submit" value="Arriesgar palabra">
        </form>

        <article>@ViewBag.mensaje</article>

    </main>
</body>
</html>